*.pydevproject

.metadata
*/bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.class
*.swp
*~.nib
local.properties


.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# MongoDB-Task ignore:
MongoDB-Task/doc/**
MongoDB-Task/doc/**/*
MongoDB-Task/lib/**
MongoDB-Task/.settings
MongoDB-Task/.classpath
MongoDB-Task/.gitignore
MongoDB-Task/.project
MongoDB-Task/src/data/**
MongoDB-Task/src/data/*
MongoDB-Task/src/data/**/*
MongoDB-Task/src/twitter/**
MongoDB-Task/src/twitter/*
MongoDB-Task/src/twitter/**/*
MongoDB-Task/src/web/**
MongoDB-Task/src/web/*
MongoDB-Task/src/web/**/*
MongoDB-Task/src/logic/MovieServiceBase.java
