<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <property name="connection.driver_class">com.ibm.db2.jcc.DB2Driver</property>
  <property name="connection.url">jdbc:db2://vsisls4.informatik.uni-hamburg.de:50001/VSISP</property>
  <property name="connection.username">vsisp63</property>
  <property name="connection.password">koyZq4mM</property>
  <property name="dialect">org.hibernate.dialect.DB2Dialect</property>
  <property name="current_session_context_class">thread</property>
  <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
  <property name="show_sql">true</property>
  <!-- Drop and re-create the database schema on startup -->
  <property name="hbm2ddl.auto">update</property>
  <property name="hibernate.connection.autocommit">true</property>

  <mapping resource="ersteVersuche/Material/Mapper/Immobilie.hbm.xml" />
  <mapping resource="ersteVersuche/Material/Mapper/Haus.hbm.xml" />
  <mapping resource="ersteVersuche/Material/Mapper/Wohnung.hbm.xml" />
  <mapping resource="ersteVersuche/Material/Mapper/Makler.hbm.xml" />
  <mapping resource="ersteVersuche/Material/Mapper/Person.hbm.xml" />
  <mapping resource="ersteVersuche/Material/Mapper/Vertrag.hbm.xml" />
  <mapping resource="ersteVersuche/Material/Mapper/Mietvertrag.hbm.xml" />
  <mapping resource="ersteVersuche/Material/Mapper/Kaufvertrag.hbm.xml" />


 </session-factory>
</hibernate-configuration>
